<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       	<meta name="description" content="I like to create content, and post it on the internet. I love my family, friends, and helping people.">
        <!-- Pull in favicon -->
        <link rel="icon" type="image/png" href="/img/logo/favicon.jpg">
        <!-- Website title (header tag) -->
        <title>Ryan Dockstader</title>
        <link rel="stylesheet" href="/css/style.css">
        <!-- Responsive style page -->
        <link rel="stylesheet" href="/css/queries.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    </head>
    <body>