<% include partials/header %>
        <header>
        <nav>
            <div class="row">
                <ul class="main-nav js--main-nav">
                    <li><a href="#education">Education</a> </li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#about-me">About Me</a></li>
                </ul>
                <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i> </a>
            </div>
        </nav>
        <div class="hero-text-box">
            <h1>Ryan Dockstader</h1>
            <p class="tag-line">Software Developer, Content Creator</p>
            <a class="btn btn-full js--scroll-to-start" href="#">Tell Me More</a>
            <a class="btn btn-full js--scroll-to-start" href="https://www.linkedin.com/in/ryandockstader/" target="_BLANK">LinkedIn</a>
        </div>
        </header>
        <section class="section-education js--section-education" id="education">
            <div class="row">
                <h2>Education</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <div  class="edu-img">
                       <img src="/resources/img/pics/code_min.jpg" alt="laptop-min"> 
                    </div>
                </div>
                <div class="edu-text col span-2-of-3">
                    <div class="edu-box">
                        <div class="row edu-header">
                            <h3>Bachelors of Science, Software Engineering &mdash; May 2020</h3>
                            <h5>Brigham Young University Idaho (Online), Rexburg, Idaho</h5>
                            <div class="edu-notable-projs">
                                <h4>Notable Projects</h4>
                                <ul>
                                    <li>Built a version of the original Astroids game</li>
                                    <li>BYU-I GitHub Repo <a href="https://github.com/rdockstader/BYUI-CS"  target="_BLANK">here</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row edu-box">
                        <div class="edu-header">
                            <h3>Associates of Science, General Studies &mdash; May 2017</h3>
                            <h3>Utah State University, Logan, UT</h3>
                            <div class="edu-notable-projs">
                                <h4>Notable Projects</h4>
                                <ul>
                                    <li>Took 2nd in a class compititon using basic AI</li>
                                    <li>USU GitHub Repo <a href="https://github.com/rdockstader/USU-CS"  target="_BLANK">here</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row edu-box">
                        <div class="edu-header">
                            <h3>Certifications</h3>
                            <div class="edu-notable-projs">
                                <ul>
                                    <li>CompTIA A+</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-projects">
            <div class="div-projects">
                <div class="row">
                    <h2 id="projects">Projects</h2>
                </div>
                <div class="row">
                    <div class="col span-1-of-4">
                        <div class="proj-container">
                           <a href="#ddpmodal" class="modal-link"><img src="/resources/img/projects/ddp-photo-logo.jpg" alt="dev-dock-photo"></a> 
                           <div id="ddpmodal" class="modalDialog">
                            	<div>
                            		<a href="#close" title="Close" class="close"><i class="ion-close"></i></a>
                            		<h2>Devin Dockstader Photography</h2>
                            		<p><strong>Web Server:</strong> Node.js</p>
                            		<p><strong>Database:</strong> MongoDB via mlab</p>
                            		<p><strong>File Storage:</strong> AWS S3 Storage</p>
                            		<p>
                            		    I built this website for my brother. He was looking for something unique to show of his photography. He has done
                            		    some web development, but not a ton. Because of this, the most interesting part of this website is the admin portal.
                            		    I built it from the ground up so that all the content (especially the photos) could be expanded on, removed, collections
                            		    could be added, etc. It's still a work in progress. The next enhancements that we have planned are mass upload, and
                            		    a built in photo "minifier". Unfortunately this website is currently offline.
                            		</p>
                            	</div>
                            </div>   
                        </div>
                    </div>
                    <div class="col span-1-of-4">
                        <div class="proj-container">
                            <a href="#ytmodal" class="modal-link"><img src="/resources/img/projects/angular.png" alt="youtube-logo"></a> 
                            <div id="ytmodal" class="modalDialog">
                                <div>
                            	    <a href="#close" title="Close" class="close"><i class="ion-close"></i></a>
                                    <h2>Go Track Simple</h2>
                                    <p><strong>Stack:</strong> MEAN</p>
                            		<p>
                                        I've been interested in fitness tracking for some time now, and a bit part of that is keeping track of your daily
                                        intake. I built this application for a school project, but really enjoyed using angular, and angular materials
                                        for the client side. The backend was also pretty fun to build. The API for this project resides on a free
                                        Heroku instance so it may take a minute to start up. The database is a sandbox database hosted through MLab,
                                        and the Angular app is served via an AWS S3 bucket.
                            		</p>
                            		<p class="text-center"><a class="btn btn-full" href="http://gotracksimple.com" target="_BLANK">GoTrackSimple</a></p>
                            	</div>
                            </div>   
                        </div>
                    </div>
                    <div class="col span-1-of-4">
                        <div class="proj-container">
                            <a href="#wpmodal" class="modal-link"><img src="/resources/img/projects/wp.jpg" alt="wordpress-logo"></a> 
                            <div id="wpmodal" class="modalDialog">
                                <div>
                            	    <a href="#close" title="Close" class="close"><i class="ion-close"></i></a>
                            		<h2>WordPress</h2>
                            		<p>
                                        Wordpress is a fascinating platform. It allows you to spin up a fairly robust website without much work, and with 
                                        the hosting options out there it can be pretty cheap (at least for the first year). I've spun up a few basic wordpress
                                        sites for a few of my hobbies:
                            		</p>
                                    <p class="text-center pb-3">
                                        <a class="btn btn-full" href="http://dtechmediagroup.com/" target="_BLANK">dTech Media Group</a>
                                    </p>
                                    <p class="text-center pb-3">
                                        <a class="btn btn-full" href="http://cachevalleypodcast.com/" target="_BLANK">Cache Valley Podcast</a>
                                    </p>
                                    <p class="text-center pb-3">
                                        <a class="btn btn-full" href="http://docksphotos.com/" target="_BLANK">Dockstader Studios</a>
                                    </p>
                            	</div>
                            </div>   
                        </div>
                    </div>
                    <div class="col span-1-of-4">
                            <div class="proj-container">
                                <a href="#rdmodal" class="modal-link"><img src="/resources/img/projects/here.png" alt="You are here"></a> 
                                <div id="rdmodal" class="modalDialog">
                                    <div>
                                        <a href="#close" title="Close" class="close"><i class="ion-close"></i></a>
                                        <h2>This Website!</h2>
                                        <p>
                                            This website was built on a node.js web server (although it serves primarily static HTML, CSS, and JS). 
                                            It uses the EJS view engine. Most of the code on this page is based on a Udemy course that I really
                                            enjoyed that went over website styling. You can check it out, 
                                            <a href="https://www.udemy.com/design-and-develop-a-killer-website-with-html5-and-css3/learn/v4/overview">here</a>.
                                            I really enjoy going over courses like this one to sharpen my development skills, when I have time to do so.
                                        </p>
                                    </div>
                                </div>   
                            </div>
                        </div>
                </div>
            </div>
        </section>
        <section class="section-about-me">
            <div class="div-about-me">
                <div class="row">
                    <h2 id="about-me">About Me</h2>
                </div>
                <div class="row">
                    <div class="col span-1-of-4">
                        <div id="headshot-div" class="about-photo-div">
                            <img src="/resources/img/about/ry-headshot.jpg" alt="ryan-headshot">
                        </div>
                    </div>
                    <div class="col span-2-of-4">
                        <p>&nbsp;</p>
                        <p>
                            I'm from a small town in south eastern Idaho, called Preston. If you think you've heard of that before
                            you just might be right! It was the location of the film Napoleon Dynamite. Growing up in Preston
                            there were a lot of people that grew up on farms, and planned to take over the family farm when
                            they grew up. However, I wasn't one of those kids. From as far back as I can remember I wanted to be
                            an engineer. I didn't know what that meant, or how to spell it but I knew it was what I wanted
                            to be. Somewhere between then and now, I also fell in love with all things technology. From the tech
                            behind rockets to the CPUs in a home computer I wanted (and still do) to learn about it all.
                            I have a passion for learning, and creating. If it's something that I love, I will spend as long as it
                            takes until I know it's the best I can make it. I use that very drive to propel myself forward in learning,
                            the work place, and every other facet of my life. 
                        </p>
                    </div>
                    <div class="col span-1-of-4">
                        <div id="pixel-div" class="about-photo-div">
                            <img src="/resources/img/about/ry-ani.png" alt="ryan-pixel">
                        </div>
                    </div>
                </div>
            </div>
        </section>
<% include partials/footer %>