.flex-row {
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-align-right {
    margin-left: auto;
}

.span-1-of-1 {
    width: 100%;
}

.span-1-of-2 {
    width: 50%;
}

.span-1-of-3 {
    width: 33.333%;
}

.span-2-of-3 {
    width: 66.666%;
}

.span-1-of-4 {
    width: 25%;
}

.span-2-of-4 {
    width: 50%;
}

.span-3-of-4 {
    width: 75%;
}

.span-1-of-5 {
    width: 20%;
}

.span-2-of-5 {
    width: 40%;
}

.span-3-of-5 {
    width: 60%;
}

.span-4-of-5 {
    width: 80%;
}

